 <style>
.title-underline {
    border: none;
    border-top: 2px solid #0080FF; /* Couleur du soulignement */
    margin: 10px auto; /* Espacement autour du soulignement */
    width: 50px; /* Largeur du soulignement */
}
h1, h2, h3 {
    font-family: 'Arial', sans-serif 
    color: #0080FF
}


.card-white {
    background-color: #eaeaea
}


.card-white p {
    margin: 10px 0
}


.card-white h3 + p a {
    color: #00000; 
}

        body {
            background-color: #F0F0F0;
            font-family: Arial, sans-serif;
            color: #333;
            font-size: 16px;
            line-height: 1.6;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            text-align: center;
        }

        .container {
            text-align: left;
            max-width: 960px;
            margin: 0 auto;
            padding: 0 20px;
        }

        .card-white {
            background-color: #f7f7f7;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            padding: 30px;
            margin: 0 auto;
            width: 100%;
        }

        .round-image {
            border-radius: 50%;
            margin-left: 50%; 
            transform: translateX(-50%); 
        }

        .button-link {
            background-color: #0080FF;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            display: inline-block;
        }

        .social-links {
            list-style: none;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
        }

        .social-links li {
            margin-right: 10px;
        }

        a {
            color: #0080FF;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
            color: #E74C3C;
        }

        

        @media (max-width: 960px) {
            .container {
                max-width: 720px;
            }
        }

        @media (max-width: 720px) {
            .container {
                max-width: 540px;
            }

            .social-links li {
                margin-right: 5px;
            }
        }
    </style>